<div *ngIf="error" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
  {{ error }}
</div>

<section *ngIf="lessons" class="mt-8">
  <h2 class="text-2xl font-semibold mb-6 text-gray-800">Lessons</h2>

  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    <li *ngFor="let lesson of lessons" class="bg-white rounded-lg shadow-lg overflow-hidden">
      <div class="p-6">
        <h3 class="text-xl font-semibold mb-2 text-gray-900">{{ lesson.title }}</h3>
        <p class="text-gray-700 mb-4">{{ lesson.content }}</p>
        <p class="text-sm text-gray-600 mb-2">Course: {{ lesson.course.title }}</p>
        <div class="mt-4">
          <p class="text-sm font-semibold mb-1">Resources:</p>
          <ul class="list-disc pl-5 text-sm">
            <li *ngFor="let resource of lesson.resources" class="mb-1">
              <a href="{{ resource.url }}" class="text-blue-500 hover:text-blue-600 hover:underline">{{ resource.title }}</a>
            </li>
          </ul>
        </div>
        <div class="flex mt-4">
          <button (click)="deleteLesson(lesson.lessonId)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline ml-2">Delete</button>
          <div class="mt-8">
            <button [routerLink]="['/teacher/resources/lesson', lesson.lessonId]"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline">
              Manage Resources
            </button>

          </div>
          </div>
      </div>
    </li>
  </ul>
  <!-- Create Lesson Form -->
  <form (ngSubmit)="createLesson()" class="mb-6">
    <div class="mb-4">
      <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
      <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" name="title" [(ngModel)]="newLesson.title" required>
    </div>
    <div class="mb-4">
      <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content:</label>
      <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="content" name="content" [(ngModel)]="newLesson.content" required></textarea>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Create Lesson</button>
  </form>

</section>
