<nav class="bg-gray-800 w-64 px-6 py-7">
  <div class="text-white">
    <a href="/dashboard" class="block mb-6 text-sm font-semibold transition duration-300 ease-in-out transform hover:text-white hover:bg-gray-700 py-2 px-4 rounded-lg">
      <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
    </a>
    <a href="/courses" class="block mb-6 text-sm font-semibold transition duration-300 ease-in-out transform hover:text-white hover:bg-gray-700 py-2 px-4 rounded-lg">
      <i class="fas fa-book mr-2"></i> Courses
    </a>
    <a href="/user-management" class="block mb-6 text-sm font-semibold transition duration-300 ease-in-out transform hover:text-white hover:bg-gray-700 py-2 px-4 rounded-lg">
      <i class="fas fa-users mr-2"></i> User Management
    </a>
    <a href="/profile" class="block mb-6 text-sm font-semibold transition duration-300 ease-in-out transform hover:text-white hover:bg-gray-700 py-2 px-4 rounded-lg">
      <i class="fas fa-user mr-2"></i> Profile
    </a>
  </div>
  <a href="dashboard/approveInstructor" class="block mb-6 text-sm font-semibold transition duration-300 ease-in-out transform hover:text-white hover:bg-gray-700 py-2 px-4 rounded-lg">
    <i class="fas fa-user mr-2"></i> Approuve Instructors
  </a>
</nav>
