.resource-player {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.player {
  width: 100%;
}

.file-link {
  display: block;
  margin-top: 10px;
  color: blue;
  text-decoration: none;
}
