<nav class="flex items-center justify-between flex-wrap bg-white p-6 shadow-lg">
  <div class="flex items-center flex-shrink-0 text-2xl font-bold text-gray-800 mr-6">
    <span class="text-teal-500">Brain</span> Rose
  </div>

  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="lg:flex-grow">
      <form class="lg:flex" (submit)="searchCourses()">
        <input type="text" class="appearance-none bg-gray-200 text-gray-700 border border-gray-200 rounded-l py-2 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 w-full lg:w-auto" placeholder="Search Courses" [(ngModel)]="searchTerm">
        <button type="submit" class="flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-r-md text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition ease-in-out duration-150">
          <svg class="w-4 h-4 mr-2 -ml-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          Search
        </button>
      </form>
    </div>

    <div class="text-sm lg:flex-grow">
      <a href="/student/ExploreCourses" class="block mt-4 lg:mt-0 lg:inline-block text-gray-600 hover:text-gray-700 mr-4">
        Explore Courses
      </a>
      <a href="/student/enrollment" class="block mt-4 lg:mt-0 lg:inline-block text-gray-600 hover:text-gray-700 mr-4">
        My Enrollements
      </a>
      <a href="#profile" class="block mt-4 lg:mt-0 lg:inline-block text-gray-600 hover:text-gray-700">
        My Profile
      </a>
    </div>

    <div>
      <a routerLink="/login" class="inline-block text-sm px-4 py-2 leading-none border rounded text-gray-600 border-gray-600 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 mr-4">
        Login
      </a>
      <a href="#signup" class="inline-block text-sm px-5 py-2 leading-none rounded text-white bg-teal-500 hover:bg-teal-600 focus:outline-none focus:shadow-outline uppercase mt-4 lg:mt-0">
        Sign Up
      </a>
    </div>
  </div>
</nav>
